@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
body {
  font-family: "Raleway";
}
body.p1 {
  background-color: #2F323A;
  color: #fefefe;
}
body.p2 {
  background-color: #BD632F;
  color: #1d1d1d;
}
body.p3 {
  background-color: #1d1d1d;
  color: #ffffff;
}

header {
  font-family: "Raleway";
  text-transform: lowercase;
}
header h1 {
  text-align: center;
  margin: 0;
  font-weight: 300;
}
header h1 span {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fefefe;
  font-weight: 900;
}
header p {
  font-family: "Major Mono Display";
  font-size: 0.8rem;
}

.maximized {
  height: 100%;
  width: 100%;
}

.flx {
  display: flex;
}

.v {
  flex-direction: column;
}

.h {
  flex-direction: row;
}

.centered {
  justify-content: center;
  align-items: center;
}

.distributed {
  justify-content: space-between;
  align-items: center;
}

.scroll-signifier {
  margin-top: -15vh;
  height: 15vh;
  animation: bounce 1.75s linear 0s infinite;
}

.down-arrow {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  height: 100%;
  width: 100%;
  font-family: "Raleway";
}
.down-arrow::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  margin: 0 auto;
  margin-top: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

#scrollbar {
  align-items: flex-start;
  position: fixed;
  left: 10px;
  top: 0;
  height: 100vh;
  width: 50px;
}
#scrollbar .scrolltick {
  margin: 5px 0;
  width: 10px;
  height: 10px;
}
#scrollbar .scrolltick.active {
  width: 20px;
}

.p1 .scrolltick {
  background-color: #fefefe;
  color: #2F323A;
}

.p2 .scrolltick {
  background-color: #1d1d1d;
  color: #BD632F;
}

.p3 .scrolltick {
  background-color: #ffffff;
  color: #1d1d1d;
}

@keyframes bounce {
  0% {
    margin-top: -15vh;
  }
  50% {
    margin-top: -16vh;
  }
  100% {
    margin-top: -15vh;
  }
}
